html, body, #root{
  height: 100%; 
  padding: 0;
  margin: 0;
  text-align: center;
  font-style: italic;
  color: black;
  background-image: linear-gradient(lightgray, white);
}

.Box{
  text-align: center;
  border: 1PX dashed black;
  padding: 0 10px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 3px 3px 3px;
}

.smallBox{
  text-align: center;
  border: 1PX dashed black;
  padding: 5px 5px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 3px 3px 3px;
  width: 250px;
}